<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Page not found</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link rel="stylesheet" href={{ url_for('static', filename='error.css') }}>

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			{% if(status==404) %}
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>we are sorry, but the page you requested was not found</h2>
			{% else %}
			<div class="notfound-404">
				<h3>Something Went Wrong</h3>
				<h1><span>5</span><span>0</span><span>0</span></h1>
			</div>
			<h2>Internal Server Error</h2>
			{% endif %}
		</div>
	</div>


</body>

</html>
