<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Deutsche_Bank_logo_without_wordmark.svg/1024px-Deutsche_Bank_logo_without_wordmark.svg.png"/>
    <title>Dashboard</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark title">
        <a href="http://127.0.0.1:5000/"><img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Deutsche_Bank_logo_without_wordmark.svg/1024px-Deutsche_Bank_logo_without_wordmark.svg.png"></a>
        <h1 class="heading" style="color: white;">Deployment Version Reporting</h1>
    </nav>
    
    {% if(text) %}
        <div class="mainpage">
            <div class="container hometext">
                <h2>Welcome !</h2>
                <br>
                <h3>{{ text }}</h3>
            </div>
            <div class="container formcontainer col-lg-6">
                <form class="py-2" action="/report" method="post">
                    <div>
                        <select class="" id="application" name="app" required>
                            <option value="" hidden>
                                Select an Application
                            </option>
                            {% for x in pipelines %}
                                <option class="opt">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-dark btn-lg mt-4">View Status</button>
                </form>
            </div>
            <div class="container">
                <!-- Button trigger modal -->
                <hr>
                <div class=" allapps">
                    <button type="button" class="btn btn-dark btn-lg mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Cron Job Health Status
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">All VM Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead class="table-dark">
                                <tr>
                                    <th>Virtual Machine Address</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for i in all_status %}
                                    <tr>
                                        <td>{{ i[0] }}</td>
                                        {% if(i[1]=="UP") %}
                                        <td class="ustatus" >{{ i[1] }}</td>
                                        {% else %}
                                        <td class="dstatus" >{{ i[1] }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="page">
    <div class="container formcontainer col-lg-6">
        <form class="py-2" action="/report" method="post">
            <div>
                <select class="" id="application" name="app">
                    {% for x in pipelines %}
                        {% if(x == appname) %}
                        <option class="opt" selected>{{ x }}</option>
                        {% else %}
                        <option class="opt">{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-dark btn-lg mt-4">View Status</button>
        </form>
    </div>
    <div class="appname pt-5">
        <h4>Application Name : <b>{{ appname }}</b> <a href="http://localhost:9090/applications/{{ appname }}" target="_blank" class="btn btn-outline-dark" ><i class="fas fa-external-link-alt fas-1" aria-hidden="true"></i></a></h4>
    </div>
    <div class="container pt-5">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-xl-4 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-server"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Total Virtual Machines</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{version_info|length}}
                                    </h2>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <span>9.23% <i class="fa fa-arrow-up"></i></span>
                                </div> -->
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="100%" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-laptop"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Machines With Latest Version </h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{successful}}
                                    </h2>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-orange" role="progressbar" data-width="100%" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100" style="width:{{percent}};"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="card l-bg-orange-dark" style="height: 150px;">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="far fa-clock"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Latest Build Timestamp</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h6 class="d-flex align-items-center mb-0" style="font-size: 1rem;">
                                        {{latest_build}}
                                    </h6>
                                </div>
                            </div>
                            <div class="progress mt-1" data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr class="style-two    ">
    <br>
    <!-- cards for virtual machines -->
    <div class="container">
        <div class="row">
        {%for version in version_info%}
            <div class="col-lg-4">
                <div class="body-card body-card-margin">
                    <div class="body-card-header no-border">
                    </div>
                    <div class="body-card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                {%if version_info[version][-2]==1 and version_info[version][-1]=="UP" %}
                                <div class="widget-49-date-primary" style="background-color:lightgreen;">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                {%else%}
                                <div class="widget-49-date-primary" style="background-color:indianred;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                {%endif%}
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{version}}</span>
                                    <span class="widget-49-meeting-time">IP Address : {{version_info[version][1]}}</span>
                                </div>
                            </div>
                            <ul class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Build Timestamp :<b>{{version_info[version][2]}}</b> </span></li>
                                <li class="widget-49-meeting-item"><span>Version :<b>{{version_info[version][3]}}</b>
                                    {%if version_info[version][-2]==1%}
                                    <i class="fa fa-check fa-lg p-1" aria-hidden="true" style="color: green;" ></i></span></li>
                                    {% else %}
                                    <i class="fa fa-times fa-lg p-1" aria-hidden="true" style="color: red;"></i></span></li>
                                    {% endif %}
                                <li class="widget-49-meeting-item"><span>Group ID : <b>{{version_info[version][4]}}</b></span></li>
                                <li class="widget-49-meeting-item"><span>Artifact ID : <b>{{version_info[version][5]}}</b></span></li>
                            </ul>
                            <div class="widget-49-meeting-action">
                                <form id="status" action="/health" method="POST">
                                    {% if version_info[version][-1]=="UP" %}
                                    <span class="badge bg-success p-2">Service is {{version_info[version][-1]}}</span>
                                    {% else %}
                                    <span class="badge bg-danger p-2">Service is {{version_info[version][-1]}}</span>
                                    {% endif %}
                                    <input name="ip" value="{{version_info[version][1]}}" hidden />
                                    <button type="submit" class="btn btn-sm btn-flash-border-primary">View More</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>
    </div>

    {% if dbinfo|length > 0 %}

    <br>
    <hr class="style-two">
    <br>

    <div class="container">
        <div class="body-card body-card-margin dbinfo " style="text-align: center;">
            <div class="body-card-header no-border">
            </div>
            <div class="body-card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        {% if(dbinfo[-1]) %}
                        <div class="widget-49-date-primary" style="background-color:lightgreen;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        {% else %}
                        <div class="widget-49-date-primary" style="background-color:indianred;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        {% endif %}
                        <div class="appname px-5" style="width: 100%; text-align: center;">
                            <h2>Latest Database ChangeSet Information</h2>
                        </div>
                    </div>
                    <div class="py-5">
                        <!-- {{dbinfo}} -->
                        <table class="table table-striped table-responsive">
                            <thead class="table-dark">
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>{{dbinfo[1]}}</td>
                                </tr>
                                <tr>
                                    <td>AUTHOR</td>
                                    <td>{{dbinfo[0]}}</td>
                                </tr>
                                <tr>
                                    <td>DATE EXECUTED</td>
                                    <td>{{dbinfo[2]}}</td>
                                </tr>
                                <tr>
                                    <td>EXEC TYPE</td>
                                    <td>{{dbinfo[3]}}</td>
                                </tr>
                                <tr>
                                    <td>DEPLOYMENT ID</td>
                                    <td>{{dbinfo[4]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    </div>
    {% endif %}

    <!-- footer -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>About the Version Reporting Tool</h3>
                        <p>This tool is basically used to check the post deployment status for all the applications deployed on different virtual machines.
                            The main functionality here is to determine the version of the application on all the virtual machines the application is deployed over.
                            It is dynamic in nature which makes it easily scalable to multiple applications and multiple virtual machines.
                        </p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Deutsche Bank</h3>
                        <p>Deutsche Bank is a leading global investment bank with a strong and profitable private clients franchise. A leader in
                        Germany and Europe, the Bank is continuously growing in North America, Asia and key emerging markets. With more than
                        78,000 employees in over 70 countries worldwide, Deutsche Bank offers unparalleled financial services throughout the
                        world.</p>
                    </div>
                <p class="copyright"> © Deutsche Bank Internship Program 2021</p>
            </div>
            </footer>
        </div>
</body>

</html>